<div class="exchange-container">
    <h1>Exchange Rate: {{ exchangeRate.toFixed(2) }} EUR/USD</h1>

    <!-- 
        // previous questions 
        <div>
        <label for="eurAmount">Enter Amount in EUR:</label>
        <input id="eurAmount" type="number" [(ngModel)]="eurAmount">
        <button (click)="convertToUSD()">Convert to USD</button>
    </div>
    <div *ngIf="usdAmount !== null">
        <p>{{ eurAmount }} EUR is equal to {{ usdAmount.toFixed(2) }} USD</p>
    </div> -->

    <div>
        <label for="amount">Enter Amount:</label>
        <input id="amount" type="number" [(ngModel)]="amount" (change)="convertCurrency()">
        
        <div>
            <span>{{ Currency.EUR }}</span>
        
            <div class="switch-container">
            <label class="switch">
                <input type="checkbox" appCurrencySwitch (currencyChanged)="toggleCurrency($event)">
                <span class="slider round"></span>
            </label>
            </div>
            
            <span>{{ Currency.USD }}</span>
        </div>
        
    </div>
    <div *ngIf="convertedAmount !== null">
    <p>{{ amount }} {{ currencyFrom }} is equal to {{ convertedAmount.toFixed(2) }} {{ currencyTo }}</p>
    </div>
</div>