<div class="exchange-container">
    <div class="card-exchange">

    </div>
    <h1>Exchange Rate: {{ exchangeRate.toFixed(2) }} EUR/USD</h1>

    <!-- 
        // previous questions 
        <div>
        <label for="eurAmount">Enter Amount in EUR:</label>
        <input id="eurAmount" type="number" [(ngModel)]="eurAmount">
        <button (click)="convertToUSD()">Convert to USD</button>
    </div>
    <div *ngIf="usdAmount !== null">
        <p>{{ eurAmount }} EUR is equal to {{ usdAmount.toFixed(2) }} USD</p>
    </div> -->

    <div class="form-group">
        <div class="input-group">
          <label class="label-c" for="amount">Enter Amount:</label>
          <input id="amount" type="number" [(ngModel)]="amount" (input)="onInputChange()">
        </div>

        <div class="input-group">
          <label class="label-c" for="forcedExchangeRate">Forced Rate:</label>
          <input id="forcedExchangeRate" type="number" [(ngModel)]="forcedExchangeRate" (change)="convertCurrency()"
            class="form-control">

        </div>
        
        <div class="input-group">
          <label class="label-c">Switch:</label>

            <span>{{ Currency.EUR }} </span>
        
            <span class="switch-container">
            <label class="switch">
                <input type="checkbox" appCurrencySwitch (currencyChanged)="toggleCurrency($event)">
                <span class="slider round"></span>
            </label>
        </span>
            
            <span> {{ Currency.USD }}</span>
        </div>
        
        <br>
        <button (click)="updateConversionHistory()">Add to History</button>
        
    </div>
    <div *ngIf="convertedAmount !== null">
    <p>{{ amount }} {{ currencyFrom }} is equal to {{ convertedAmount?.toFixed(2) }} {{ currencyTo }}</p>
    </div>

    <!-- Conversion history using Flexbox -->
  <div class="conversion-history">
    <div class="history-row header">
      <div>Real Rate</div>
      <div>Entered Rate</div>
      <div>Initial Amount</div>
      <div>Initial Currency</div>
      <div>Calculated Amount</div>
      <div>Calculated Currency</div>
    </div>
    <div *ngFor="let entry of conversionHistory" class="history-row">
      <div>{{ entry.realRate?.toFixed(2) }}</div>
      <div>{{ entry.enteredRate?.toFixed(2) }}</div>
      <div>{{ entry.initialAmount?.toFixed(2) }}</div>
      <div>{{ entry.initialCurrency }}</div>
      <div>{{ entry.calculatedAmount?.toFixed(2) }}</div>
      <div>{{ entry.calculatedCurrency }}</div>
    </div>
  </div>
</div>